@import "~antd/dist/antd.css";

.ant-page-header {
    width: 100%;
}

.ant-btn-primary {
    background-color: black;
    border-radius: 0;
}

.ant-btn-primary:hover {
    background-color: #46484e;
    border-radius: 0;
}